<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<div class="container my-5">
		<h3>Login</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-10">
					<form action="/performeLogin" method="post">
							<p>
								Id: <input type="text"  />
							</p>
							<p>
								Message: <input type="text"  />
							</p>
							<p>
								<input type="submit" value="Submit" /> <input type="reset" value="Reset" />
							</p>
					</form>
  				</div>
			</div>
		</div>
	</div>
</body>
</html>